<div class="row">
  <form [formGroup]="form" class="col s12" novalidate (ngSubmit)="createContact()">
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="name" [ngClass]="{'invalid': !name.valid && !name.pristine}">
        <label class="active">Name</label>
        <div *ngIf="name.errors && !name.pristine">
          <p class="danger" *ngIf="name.errors.required">A name is required</p>
          <p class="danger" *ngIf="name.errors.minlength">A name must have at least {{name.errors.minlength.requiredLength}} characters</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="phone">
        <label class="active">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="email">
        <label class="active">Email</label>
      </div>
    </div>
    <div formGroupName="address">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="street">
          <label class="active">Street</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="number">
          <label class="active">Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="zip">
          <label class="active">Zip</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="city">
          <label class="active">City</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="country">
          <label class="active">Country</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="btn" routerLink="">Cancel</a>
        <input type="submit" class="btn" value="Create" [disabled]="!form.valid">
      </div>
    </div>
  </form>
</div>