<div>
    One-way data binding:
    <input [value]="message" />
</div>

<div>
    One-way data binding:
    <input [ngModel]="message" />
</div>

<div>
    Two-way data binding:
    <input [ngModel]="message" (ngModelChange)="message=$event" />
</div>

<div>
    Two-way data binding:
    <input [(ngModel)]="message" />
</div>

<div>
    Event:
    <button (click)="changeMessage('Message has changed')">Change message</button>
</div>

<div>
    Event:
    <input (input)="changeMessage($event.target.value)" />
</div>

<div>
    Property binding:
    <span [style.background-color]="'yellow'" [attr.customattribute]="'value'">{{message}}</span>
</div>

<div>
    Directive:
    <span *ngIf="message">Message provided</span>
    <span *ngIf="!message">No message provided</span>
</div>

<div>
    Directive:
    <div [ngSwitch]="!message" [ngStyle]="{'background-color': message ? 'green' : 'red', 'color' : 'white', 'padding': '5px'}">
        <p *ngSwitchWhen="true">No message provided</p>
        <p *ngSwitchWhen="false">Message provided</p>
        <p *ngSwitchDefault>Default</p>
    </div>
</div>

<div>
    Directive:
    <div [ngSwitch]="!message" [ngClass]="{empty : !message, filled : message}">
        <p *ngSwitchWhen="true">No message provided</p>
        <p *ngSwitchWhen="false">Message provided</p>
        <p *ngSwitchDefault>Default</p>
    </div>
</div>

<div>
    Directive:
    <ul>
        <li *ngFor="let number of numbers; let message = index; let isFirstElement = first">
            {{message}} - {{isFirstElement}}
        </li>
    </ul>
</div>